#header{
	
	font-family: "Rajdhani",sans-serif;
	color :#949494;
	font-weight : 200;
	
	
}
#worktab{
	
	font-family :'Roboto',sans-serif;
	color :#b6b6b6;
	font-weight :200;
}

#works{

	color :#6d6d6d;
	
	
}	
#frontend{
	
	font-weight :bold;
}